@font-face {
  font-family: "Garden";
  src: url('../css/font/SummerGarden.ttf');
}
@font-face{
  font-family: 'vogue';
  src: url(../Fontzer/Vogue.ttf);
}
@font-face{
  font-family: 'lemon';
  src: url(../Fontzer/LEMONMILK-Light.otf);
}

//font cover//
.speach-cover{
  font-family: Garden;
  text-align: center;
  font-size: 25px;


}




//font photos//

@font-face{
  font-family: 'vogue';
  src: url(../Fontzer/Vogue.ttf);
}
@font-face{
  font-family: 'lemon';
  src: url(../Fontzer/LEMONMILK-Light.otf);
}



// font shop //


