*{
  box-sizing: border-box;
}
.button-intro{
  width: 100%;
  height: auto;
  color: #C82829;
  position: absolute;
  top: 400px;
  position: absolute;
  top: 100px; left: 40;
  /* Le bouton  aux dimensions du lecteur */
  width: 600px; height: 490px;
}

