
* {
  margin: 0;
}

ul li {
  list-style: none;
}

nav nav{
  border: solid 1px violet;
  height: 8vh;
}




.logo-blanco{
  width: 100px;
  height: auto;
  border: solid 1px violet;
}

#article-cover{
  background-color: #EFEFEF;
}

.btn-portfolio{
  background-color:#0BE09E ;
  height: 60px;
  width: 330px;
  border-radius: 44%;
  color: whitesmoke;
  text-align: center;


}

/* customs */

.barre{
  width: 150px;
  height: 2px;
  background-color: teal;
}

/* carousel */
.carousel-inner-cover{
  height: 490px;
}
.card-img-top{

}
/*tailles photos principal*/
.main-photos{
  height: 50vh
}

/* magique card menu */
.cardd-zoom {
  background-color: var(--background);
  border: 3px solid var(--primary);
  display: block;
  width: 500px;
  height: 7vh;
  cursor: pointer;
  padding: 15px;
  margin-top:30px;
  margin-right: 90px;

  box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green),
  20px -20px 0 -3px var(--background), 20px -20px var(--yellow),
  30px -30px 0 -3px var(--background), 30px -30px var(--orange),
  40px -40px 0 -3px var(--background), 40px -40px var(--red);
  transition: box-shadow 1s, top 1s, left 1s;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}

.cardd-zoom:hover {
  top: -40px;
  left: 40px;
  box-shadow: 0 0 0 -3px var(--background), 0 0 0 0 var(--green),
  0 0 0 -3px var(--background), 0 0 0 0  var(--yellow),
  0 0 0 -3px var(--background), 0 0 0 0  var(--orange),
  0 0 0 -3px  var(--background), 0 0 0 0  var(--red);
}

:root {
  --primary: #555BFF;
  --secondary: #22D2A0;
  --background: white;
  --green: #1FC11B;
  --yellow: #FFD913;
  --orange: #FF9C55;
  --red: #FF5555;
}

body {

  background-size: 2px 3px;
  background-color: #222222;
  font-family: "Archivo", sans-serif;
  color: var(--primary);
}

.cardd-zoom p {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.cardd-zoom h2 {
  font-size: 14px;
  font-family: "Archivo Black", "Archivo", sans-serif;
  font-weight: normal;
}
