{% extends "base.html.twig" %}
{% block carousell %}
{% endblock carousell%}
{% block content %}
<div>
    <video class="video" src="{{asset ('video/production.mp4') }}" playsinline autoplay muted loop video width="100%" height="100%"/mp4"></video>

    <button class="button-intro"> <a href="{{ path("cover_list") }}">Le Site Web</a></button>


</div>
{% endblock content %}